<div class="row">
  <aside class="span3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <h3>activity feed</h3>
      <%= render 'shared/feed' %>
    </section>
  </aside>
  <div class="span6">
    
    <h1>Welcome, <%= current_user.name %>!</h1>

    <% if current_user.acts.count > 0 %>
      <h2>Ready to do more fun stuff?</h2>
    <% else %>
      <h2>Start by doing some fun stuff!</h2>
    <% end %>

    <% activity_ids ||= [] %>
    <% Activity.all.each { |a| activity_ids.push a.id } %>

    <% activity_ids.sort{ rand() - 0.5 }[0..Activity.count].each do |id| %>
      <% link_title = Activity.find(id).name.capitalize + '!' %>
      <a href="/" class="btn btn-default act-creator" id="act-creator-<%= id.to_s %>"><%= link_title %></a>
    <% end %>

    <%= render 'shared/act_form' %>
  </div>
  <div class="span3">
    <section>
      <h3>public activities</h3>
      <%= render 'shared/feed', :@feed_items => recent_activities %>
    </section>
  </div>
</div>