<div class="center hero-unit">

    <% if signed_in? %>

      <h1>Welcome, <%= current_user.name %>!</h1>
      <h2>Ready to do more fun stuff?</h2>
      <%= link_to "Practice drums!", new_action_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Lift weights!", new_action_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Do yoga!", new_action_path, class: "btn btn-large btn-primary" %>

    <% else %>

      <h1>Welcome to the Activities App</h1>
      <h2>Do fun activities! Track your calorie burn! Want to start doing some fun stuff?</h2>
      
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
      <p>Have an account? <%= link_to "Sign in.", signin_path %>

    <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>