<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, size: 40 %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>
<p><%= @user.email %></p>
<p>Activities I've done</p>

<ul>
<% @activities.each do |activity| %>
  <li><%= activity.name %>, calories: <%= activity.calories %></li>
<% end %>
</ul>