<% provide(:title, @user.name) %>
<div class="row">

	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, size: 40 %>
				<%= @user.name %>
			</h1>
      <h2><%= @user.email %></h2>
		</section>
	</aside>

  <div class="span8">
    <% if @user.acts.any? %>
      <h3>I've done <%= @acts.count %> activities</h3>
    
      <ul class="acts">
        <%= render @acts %>
      </ul>
      <%= will_paginate @acts %>
    <% else %>
      <h3>I haven't done any activities</h3>
      <% if current_user == @user %>
        <p><%= link_to "Do some.", root_url %></p>
      <% end %>
    <% end %>
  </div>
</div>