<li>
  <span class="activity_name"><%= act.activity.name.capitalize %></span>
  <span class="act_calories">burned <%= act.calories %> calories</span>
  <span class="act_minutes">in <%= minutes_in_words(act.minutes) %></span>
  <span class="act_completed">Completed <%= time_ago_in_words(act.completed) %> ago.</span>
  <%= render 'shared/delete_link', :act => act %>
</li>